p {
    font-size: 12px;
}
.question-card-container {
    width: 800px;
    background-color: #2D3047;
    display: flex;
    color: white;
    justify-content: space-between;
    margin-bottom: 10px;
    border-radius: 7px;
    
}

.question-card-title {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.question-card-stats {
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 30%;
}

.question-card-stats p {
    margin: 5px;
}

.question-tags {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
}

.question-card-title-container {
    display: flex;
    width: 100%;
    margin-left: 10px;
    justify-content: left;
}



.question-tags-container a {
    background-color: grey;
    border-radius: 7px;
    padding: 3px 13px;
    margin: 5px;
    
}

.question-card-container a:hover {
    cursor: pointer;
}

.user-info img {
    height: 20px;
    margin-right: 5px;
}

@media only screen and (max-width: 600px) {
    .question-card-container {
        width: 100%;
        background-color: black;
        display: flex;
        color: white;
        justify-content: space-between;
        margin-bottom: 10px;
        
    }
}
