p {
    font-size: 12px;
}
.question-card-container {
    width: 800px;
    background-color: black;
    display: flex;
    color: white;
    justify-content: space-between;
    margin-bottom: 10px;
    
}

.question-card-title {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.question-card-stats {
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 30%;
}

.question-card-stats p {
    margin: 5px;
}

.question-tags {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
}

.question-card-title-container {
    display: flex;
    width: 100%;
    margin-left: 10px;
}



.question-tags-container a {
    background-color: grey;
    padding: 3px 13px;
    margin: 5px;
    
}

.question-card-container a:hover {
    cursor: pointer;
}

.user-info img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

