User properties:
email - name - password - questionlist - answerlist - bookmarked questionlist - edit question
reputation - edit comment - delete comment - edit question 
account creation date - ask question




question properties:
question-user question title - question body - question tags - question date - 
upvotes - downvotes - comment list -
answers list,  