
.questions-header {
    display: flex;
    justify-content: space-between;
    width: 800px;

    color: white;
    

}

.questions-container {
    margin: 80px;
}

.ask-button {
    width: 100px;
    margin: 15px 0px;
    height: 40px;
    background-color: #263159;
    color: white;
    border: none;
    border-radius: 7px;
}

.questions-control {
    display: flex;
    color: white;
    justify-content: space-between;
    width: 800px;
}

.questions-control p {
    font-size: 20px;
}
.questions-filters button {
    padding: 10px;
    border-radius: 10px;
    background-color: #263159;
    border: none;
    margin: 2px;
    color: white;
}

.ask-button:hover {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .questions-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        
    
    }

    .questions-container {
        margin: 0px;
    }
}