
.questions-header {
    display: flex;
    justify-content: space-between;
    width: 800px;
    

}

.questions-container {
    margin: 80px;
}

.ask-button {
    width: 100px;
    margin: 15px 0px;
    height: 40px;
    background-color: #15333D;
    color: white;
    border: none;
}

.ask-button:hover {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .questions-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        
    
    }

    .questions-container {
        margin: 0px;
    }
}