.question-view-container {
  margin-top: 90px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 800px;
}

.question-view-title {
  display: flex;
  color: black;
  padding: 10px;
  font-family: sans-serif;
}
.question-view-upvote {
  transform: rotate(180deg);
  width: 30px;
  height: 30px;
  margin: 10px;
  background-color: black;
  border-radius: 12px;
}

.question-view-downvote {
  width: 30px;
  height: 30px;
  margin: 10px;
  background-color: black;
  border-radius: 12px;
}

.question-view-downvote:hover,
.question-view-upvote:hover {
  cursor: pointer;
}

.question-view-body {
  display: flex;
  max-width: 800px;
  white-space: pre-wrap;
}
.question-view-score {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.question-body-content {
  display: flex;
}
.question-body-content p {
  padding: 10px;
  color: black;
  font-size: 15px;
  word-break: break-all;
  text-align: left;
}

.question-view-tag-child {
  background-color: black;
  padding: 4px 6px;
  text-align: center;
  text-decoration: none;
  color: white;
  margin: 2px;
}

.question-view-tags {
  margin-left: 50px;
}

.add-comment {
  color: #0047ee37;
}

.add-comment:hover {
  cursor: pointer;
}

.add-comment-containter {
  width: 100%;
  display: flex;
  align-items: center;
  max-width: 800px;
}

.add-comment-button {
  background-color: teal;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 5px;
  height: 40px;
  width: 120px;
  margin: 10px;
}

.comment-textarea {
  width: 80%;
  background-color: transparent;
  resize: none;
  padding: 10px;
  border-radius: 5px;
}
button:hover {
  cursor: pointer;
}

.post-answer-button {
  background-color: teal;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 5px;
  height: 40px;
  width: 140px;
  margin: 50px 0px;
}

.answer-textarea {
  padding: 10px;
  border-radius: 5px;
  min-height: 200px;
  background-color: transparent;
  width: 100%;
  resize: none;
}

.add-answer-container {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
