.question-view-container {
  margin-top: 90px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 800px;
  color: white;
}

.question-view-title {
  display: flex;
  color: white;
  padding: 10px;
  font-family: sans-serif;
}
.question-view-upvote {
  transform: rotate(180deg);
  width: 30px;
  height: 30px;
  margin: 10px;
  background-color: #2D3047;
  border-radius: 12px;
}

.question-view-downvote {
  width: 30px;
  height: 30px;
  margin: 10px;
  background-color: #2D3047;
  border-radius: 12px;
}

.question-view-downvote:hover,
.question-view-upvote:hover {
  cursor: pointer;
}

.question-view-body {
  display: flex;
  max-width: 800px;
  white-space: pre-wrap;
}
.question-view-score {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.question-body-content {
  display: flex;
}
.question-body-content p {
  padding: 10px;
  color: white;
  font-size: 15px;
  word-break: break-all;
  text-align: left;
}

.question-view-tag-child {
  background-color: var(--grey-color);
  border-radius: 7px;
  padding: 4px 6px;
  text-align: center;
  text-decoration: none;
  color: white;
  margin: 2px;
}

.question-view-tags {
  margin-left: 50px;
}

.add-comment {
  color: #0047ee37;
  margin: 40px 0px 20px 50px;
}

.add-comment:hover {
  cursor: pointer;
}

.add-comment-containter {
  width: 100%;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin-left: 40px;
  color: white;
}

.add-comment-button {
  background-color: #263159;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 5px;
  height: 40px;
  width: 120px;
  margin-left: 20px;
}

.comment-textarea {
  width: 80%;
  background-color: transparent;
  resize: none;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  color: white;
}
button:hover {
  cursor: pointer;
}

.post-answer-button {
  background-color: #263159;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 5px;
  height: 40px;
  width: 140px;
  margin: 50px 40px;
}

textarea:focus, input:focus {
  outline: none;
}

.answer-textarea {
  padding: 10px;
  border-radius: 5px;
  min-height: 200px;
  background-color: transparent;
  width: 100%;
  resize: none;
  margin-left: 40px;
  color: white;
}

.add-answer-container {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.question-body-bottom {

  display: flex;
  width: 100%;
  justify-content: space-between;
}

.question-tags-aside {
  color: hsl(206,100%,40%);
}
