body {
    background-color: #E5E5E5;
}
.main-nav {
    background-color: #132E3D;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;

}

ul {
    display: flex;
}
.main-nav li  {
    padding: 10px;
    margin-right: 30px;
    list-style: none;
}

.main-nav li a {
    text-decoration: none;
    color: white;
}

.main-nav li a:hover {
    border-bottom: 2px solid teal;
    cursor: pointer;
}

.nav-button-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}

.nav-button-group button {
    
    margin-right: 40px;
    color: white;
    background-color: #1A72C3;
    outline: none;
    border: none;
    width: 100px;
    border-radius: 10px;
    padding: 7px;
}

.nav-button-group button:hover {
    cursor: pointer;

}

