.tag-card-container {

    width: 300px;
    background-color: #2D3047;
    border-radius: 12px;
    display: flex;
    margin: 20px;
    flex-direction: column;
    color: white;
    font-family: open-sans;
    font-size: 15px;
}
.tag-card-container a {
    text-decoration: none;
    color: black;
    background-color: grey;
    margin: 10px;
    padding: 5px;
    width: fit-content;
    border-radius: 7px;
    color: white;
    
}

.tag-card-container p {
    margin: 10px;
    padding: 5px;
    font-size: 18px;
    font-family: 'Open Sans';
    text-align: left;
}




